:root {
  --primary-color: #4caf50;
  --primary-text: white;
  --background: #fefefe;

  --dark-color: #212121;
}

body {
  background: var(--background);
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

header {
  padding: 16px 0;
  background: var(--dark-color);
  color: white;
  text-align: center;
  width: 100%;
  font-size: 18px;
  position: relative;
}

.shadow {
  box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.4);
}

.btn {
  border: none;
  cursor: pointer;
}

.btn.btn--animated {
  transition: all 0.4s cubic-bezier(0, 0.54, 0.58, 1);
  background-image: linear-gradient(#4caf50, #4caf50);
  background-size: 100% 100%;
  background-position: -150px 0;
  background-repeat: no-repeat;
}

.btn.btn--animated:hover {
  background-position: 0 0;
}

.header--right {
  position: absolute;
  padding: 3px 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.progress-bar {
  height: 12px;
  width: 100%;
  background: #666;
  font-size: 0;
}

.progress-bar .progress-bar__bar {
  width: 0;
  height: 12px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel {
  width: 30%;
  margin: 30px 10px 0 10px;
  border-radius: 4px;
  overflow: hidden;
}

.panel .panel__header {
  background: var(--dark-color);
  color: white;
  padding: 6px 10px;
}

.panel .panel__body {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 432px;
  overflow: auto;
}

.task {
  width: 80%;
  margin: 5% auto;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 15px;
}

.task .task__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.modal.open {
  transform: scale(1);
  opacity: 1;
}

.dialog {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  padding-bottom: 8px;
  transition: all 0.2s ease-in;
}

.dialog .dialog__title {
  font-size: 18px;
  font-weight: bold;
  background: var(--primary-color);
  padding: 8px 16px;
}

.dialog .dialog__title .dialog__title__tip {
  color: var(--primary-text);
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 16px;
}

.dialog .dialog__body {
  padding: 16px;
}

.ipt {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.ipt.ipt--large {
  height: 90px;
}

.label {
  display: block;
}

.round {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 0;
  overflow: hidden;
  background: var(--primary-color);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-360deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

.loader--visible {
  transform: translate(-50%, -50%) rotate(720deg);
  opacity: 1;
}
